/* Write your CSS here */
.list-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.para {
  font-size: 20px;
  font-weight: bold;
}
.button {
  color: #ff0b37;
  border-color: #ff0b37;
  border-radius: 10px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  outline: none;
  margin: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  height: 10%;
}
